argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
build==1.4.3
cagoule @ file:///home/slim/Documents/Cagoule/cagoule/CAGOULE_v1.5.0_final
cagoule-pass @ file:///home/slim/Documents/Cagoule/cagoule-pass_v1.0.0/cagoule-pass/dist/cagoule_pass-1.0.0-py3-none-any.whl#sha256=0973d7a3327ccb934f4425f959fb279c233ca9f8212532f95bdc5defa012d914
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.7
cryptography==46.0.7
docutils==0.22.4
id==1.6.1
idna==3.11
iniconfig==2.3.0
jaraco.classes==3.4.0
jaraco.context==6.1.2
jaraco.functools==4.4.0
jeepney==0.9.0
Jinja2==3.1.6
keyring==25.7.0
markdown-it-py==4.0.0
markdown2==2.5.5
MarkupSafe==3.0.3
mdurl==0.1.2
more-itertools==11.0.2
mpmath==1.4.1
nh3==0.3.4
packaging==26.0
pdoc==16.0.0
pluggy==1.6.0
pycparser==3.0
Pygments==2.20.0
pyproject_hooks==1.2.0
pytest==9.0.3
readme_renderer==44.0
requests==2.33.1
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==15.0.0
SecretStorage==3.5.0
twine==6.2.0
urllib3==2.6.3
